<main class="page-container">

    <div class="robo-image">
        
       
    </div>
    <div class="login-container " [formGroup]="loginForm">
        <div class="titulo">
            <img src="imgs/Chat.png" alt="">
            <h1>Login</h1>
            
        </div>
        <div class="login">
            <input type="email" placeholder="insira o e-mail" required class="inpt" formControlName="email">
            <input type="password" placeholder="insira a senha required" class="inpt" formControlName="password">
            <button (click)="onLoginClick()">Entrar</button>
        </div>
       
    </div>


</main>