<main class="page-container">

    <div class="robo-image">
        
       
    </div>
    <div class="login-container">
        <div class="titulo">
            <img src="imgs/Chat.png" alt="">
            <h1>Login</h1>
            
        </div>
        <div class="login">
            <input type="email" placeholder="insira o e-mail" required class="inpt">
            <input type="password" placeholder="insira a senha required" class="inpt">
            <button>Entrar</button>
        </div>
       
    </div>


</main>