<main class="page-container">

  <div class="robo-image">
  </div>


  <div class="login-container ">
    <div class="titulo">
      <img src="imgs/Chat.png" alt="">
      <h1>Novo Usuario</h1>

    </div>
    <article class="login" style="display: flex; flex-direction: column;" [formGroup]="newUserLoginForm">
      <form action="">
        <input type="text" placeholder="Digite nome do usuario" required class="inpt" formControlName="name">
        <span style="color: red;"> {{nameErrorMessage}} </span>
        <input type="email" placeholder="insira o e-mail" required class="inpt" formControlName="email">
        <span style="color: red;" > {{emailErrorMessage}} </span>

        <input type="password" placeholder="insira a senha " class="inpt" formControlName="password">
        <span style="color:red ;"> {{passordErrorMessage}} </span>

        <input type="password" placeholder="confirme sua senha" formControlName="confirmePassowrd">
        <span style="color: red;"> {{confirmedPassword}} </span>


        
      </form>



      <button (click)="newcadastro()"> Entrar </button>





    </article>

  </div>



</main>