@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1{  font-weight:400;}

.titulo{
     font-size: 88px;

       
        font-family: Inter;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}


.robo-image{
    background-image: url(/img/fundoLogin.png);
    background-size: cover;

    width: 50vw;
    height: 100vh;
}

.page-container{
    display: flex;
 
    
}
.login-container img {
    
    height: 60px;
}
.login-container{
    
    width: 50vw;  
     height: 100vh;
    
     
     /* kit sobrevivencia de centralização */


     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
     
}
.login{
   
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    padding-top: 4rem;
    button{
        color: aliceblue;
        margin-top: 1rem;
        width: 10rem;
        height: 3rem;
        background-color: black;
        border-radius: 8px;
    }
}
.login input{ width: 23rem;
/* height: 2rem; */
padding: 18px;
background-color: #f7f9fb;
border-radius: 10px;
margin-bottom: 16px;
}

i{
    margin-right: 10px;
}
.erro-message{
    color: red;
    font-size: 14px;
    transform: translateY(-10px) translateX(-125px);
}

    button:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
        opacity: 0.6;
      }
      

      form{
        display: flex;
        flex-direction: column;
      }
